fastapi
uvicorn
pydantic
supabase
python-dotenv
asyncpg
torch
torchvision
torchaudio
llama-index
llama-index-embeddings-nomic
llama-index-vector-stores-postgres
git+https://github.com/pydantic/pydantic-ai.git
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
openai
python-jose
python-multipart
logfire
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
beautifulsoup4
types-beautifulsoup4
langchain
tiktoken
pandas
lxml
langchain-community
vecs